<div style="border: 2px solid red; padding: 15px; border-radius: 5px; background-color: #ffe6e6; padding: 20px; max-width: 600px; margin:auto; margin-top: 20px; margin-bottom:50px;">
    <h4 style="color: red; text-align: center;">Something Went Wrong:</h4>
    <ul style="color: darkred; font-size: 16px; list-style: none; padding: 0;">

        <li> @ViewBag.Message</li>

    </ul>

    <div style="text-align: center; margin-top: 20px;">
        <div style="text-align: center; margin-top: 20px;">
            <a asp-controller="Home" asp-action="/" class="btn btn-primary">Go Back</a>
        </div>
    </div>
</div>